.idea/
*/.idea/
**/*/.idea/

.settings/
*/.settings/
**/*/.settings/

target/
*/target/
**/*/target/

.DS_Store
*/.DS_Store
**/*/.DS_Store

.classpath
*/.classpath
**/*/.classpath

.project
*/.project
**/*/.project

*.iml
*/*.iml
**/*/*.iml

d/